*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: 50px auto 50px;
    grid-template-areas: "h h h h h h h h h"
    "m m m m m m m s s"
    "f f f f f f f f f";
}
.el{
    display: grid;
    background-color: brown;
    color: white;
    place-content: center;
}
.header{
    grid-area: h;
}
.sidebar{
    grid-area: s;
}
.footer{
    grid-area: f;
}
.box{
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    
}
.container{
    display: grid;
    grid-template-columns:repeat(2,2fr 1fr) ;
    grid-auto-rows: 200px;
    gap:15px;
    padding: 5px;
    grid-area: m;
    
    
}
.box:first-child{
    background-color: blue;
    grid-column: 1/4;
    grid-row: 1/3;
    display: grid;
    place-content: center;
   
}
.box:nth-child(2){
    background-color: blueviolet;
    grid-column: 1/4;
    grid-row: 3/4;
}
